/** @format */

.menu {
  margin-right: 18px !important;
  padding: 10px;
  background-color: green !important;
  color: white;
}
.my-nav-link a {
  color: white;
}
.menu:hover {
  color: rgb(182, 22, 22) !important;
  padding: 10px;
}
.admin {
  background-color: red !important;
  border: 1px solid red !important;
}
.admin:hover {
  background-color: rgb(207, 41, 41) !important;
  border: 1px solid rgb(207, 41, 41) !important;
  color: white !important;
}
.logout {
  color: white !important;
  padding: 0 15px;
  background-color: red;
  border-radius: 5px;
  height: 45px;
  border: 1px solid red;
}
.logout:hover {
  padding: 0 15px;
  background-color: rgb(207, 41, 41);
  border-radius: 5px;
  height: 45px;
  border: 1px solid rgb(207, 41, 41);
}
.place-order {
  color: white !important;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
}
.title {
  color: green;
  font-weight: bold;
}
/* .title:hover {
  color: rgb(182, 22, 22);
  font-weight: bold;
  padding-top: 0px;
} */
.my-nav {
  margin: 0px 8%;
  width: 100%;
}
.login-name-photo {
  display: flex;
  color: green;
}
.login-photo {
  border-radius: 50%;
  width: 25%;
  margin: -20px 5px 5px 5px;
}
.head-title {
  font-size: 40px;
  margin: 0px 0px 30px 0px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
  .menu {
    margin: 2px 0;
  }
  .logout {
    margin: 2px 18px 15px 0px;
  }
  .login-photo {
    border-radius: 50%;
    width: 50%;
    margin: -10px 5px 5px 5px;
  }
  .my-nav {
    margin: 0px 1%;
    width: 100%;
  }
  .head-title {
    font-size: 30px;
  }
  .head-title:hover {
    font-size: 30px;
    color: rgb(182, 22, 22) !important;
  }
}
